@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    background-color: #CC313D;
    font-family: 'Poppins', sans-serif;
}
#nav {
    color: white;
    font-size: 23px;
    font-weight: 200;
    /* padding-right: 2%; */
    position: absolute;
    right: 4%;
    margin: 2%;
    margin-top: 2.5%;
    top: 10px;
    font-family: 'Roboto', sans-serif;
}
#name {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    margin: 1.5% 2% 2% 4%;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}
#name a {
    color: white;
    text-decoration: none;
}
#email {
    padding-bottom: 8px;
}
#email a {
    font-weight: 600;
    color: white;
    text-decoration: none;
}
#email a:hover {
    text-decoration: underline;
}
#frame {
    margin: 2%;
    margin-top: 0;
    height: 74vh;
    width: 95%; /* decrease the width in another media query*/
    position: absolute;
    top: 230px;
}
.buttons_group {
    margin-bottom: 0;
    width: 95%;
    position: absolute;
    top: 152.5px;
    margin-left: 2%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: #CC313D;
    width: 33px;
    height: 26px;
    border-radius: 100%;
    padding: 13px 10px;
    background: white;
}
.fa:hover {
    opacity: 0.7;
}
.buttons {
    padding: 10px;
    margin-top: 2%;
    display: inline-block;
    width: 78.5px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}
.buttons:hover {
    padding-top: 18px;
    margin-top: 17.875px;
}
#profile_button {
    background: #FCF6F5FF;
}
#interests_button {
    background-color: #F7C5CC;
}
#education_button {
    background: #F7C5CC;
}
#skills_button {
    background-color: #F7C5CC;
}
#projects_button {
    background-color: #F7C5CC;
}
